importFrom("methods", show, is, new, slot, as, hasArg, getMethod)
importFrom("lavaan", summary, inspect, anova)
importFrom("stats", 
           cov, nlminb, rnorm, runif, cov2cor, qnorm, sd, quantile, qchisq, fitted, cor, pchisq, factanal, coef, uniroot, lm, pnorm, pf, var, vcov, fitted.values, nobs, residuals, dist, ptukey, dchisq, na.omit, qf)
importFrom("utils", 
           capture.output, write.table, combn, read.table, read.csv, setTxtProgressBar, txtProgressBar)
importFrom("graphics", hist, plot, par, abline, lines, legend)

exportClasses(lavaanStar, FitDiff, EFA, Net, BootMiss, permuteMeasEq)
exportMethods(hist)
export(
	measurementInvariance, longInvariance, measurementInvarianceCat,
	moreFitIndices, miPowerFit, nullRMSEA, 
	skew, kurtosis, mardiaSkew, mardiaKurtosis, 
	orthogonalize, 
	runMI, cfa.mi, sem.mi, growth.mi, lavaan.mi, fmi,
	plotRMSEApower, plotRMSEAdist, findRMSEApower, findRMSEAsamplesize, SSpower,
	findRMSEApowernested, findRMSEAsamplesizenested, plotRMSEApowernested,
	parcelAllocation, PAVranking, 
	monteCarloMed, 
	splitSample, mvrnonnorm,
	indProd, 
	residualCovariate, 
	probe2WayMC, probe2WayRC, probe3WayMC, probe3WayRC, 
	plotProbe, 
	clipboard, saveFile, 
	auxiliary, cfa.auxiliary, sem.auxiliary, growth.auxiliary, lavaan.auxiliary, 
	loadingFromAlpha, 
	reliability, reliabilityL2, maximalRelia,
	impliedFactorMean, impliedFactorCov, impliedFactorStat,
	tukeySEM,
	nullMx, saturateMx, fitMeasuresMx, standardizeMx,
	lisrel2lavaan,
	wald, imposeStart,
	compareFit,
	efaUnrotate, orthRotate, oblqRotate, funRotate,
	kd, bsBootMiss, net, 
	singleParamTest,
	partialInvariance, partialInvarianceCat,
	quark, combinequark,
	spatialCorrect,
	permuteMeasEq,
	ci.reliability
)
